distfiles/*
apkcache/*
src/
.ccache/*
.abuild/*.rsa*
.ash_history
.env
# .abuild/
.vscode
tmp/
packages/
pkg/
.bash_history
**/__pycache__

# something was making git status/fish take a lot of cpu/time
.cache
.cargo
.config
.local
.npm
go
